.aboutus{
	padding: 60px 0px 60px 0px;
	background-color: #fff;
	/*height: 600px;*/
	display: block;

}




.carousel-caption{
	padding-bottom: 350px;
	margin-left: -100px;
	text-align: left;
}

.carousel-caption h1{
	font-size: 90px;
	font-weight: bold;
}


.picsum-img-wrapper{
	width: 100% !important;
	max-height: 574px;	
	margin-left: auto;
	margin-right: auto;
}


.picsum-img-wrapper img{
	width: 100% !important;
	max-height: 574px;	
	margin-left: auto;
	margin-right: auto;
}
