/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  /*visibility: hidden;*/
  opacity: 0;
  right: 15px;
  bottom: 40px;
  z-index: 996;
  background: var(--theme);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;

}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--theme);
  color: #fff;
  border:1px solid #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}






/*=======================================================
# page loading animation
=========================================================*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}