<section class="pageheadone">
  <img src="{{filepathabout}}{{pageBan}}" class="pagebanner" alt="{{pageData.pge_subtitle}}" title="{{pageData.pge_subtitle}}">
  <div class="pageheader container">  
    <div class="textbar">
      <h1>{{pageData.pge_subtitle}}: {{eventData.evt_heading}}</h1>
      <br/><span><i class="bi bi-house-fill"></i> Home <i class="bi bi-chevron-right"></i> {{pageData.pge_title}}</span>
    </div>
  </div>  
</section>

<section class="aboutus  container">
	



	<!-- Registration 2 - Bootstrap Brain Component -->
<div class=" py-0 py-md-0">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-light p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h2 class="h3">Registration</h2>
                <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to register</h3>
              </div>
            </div>
          </div>
          <form [formGroup]="regfrm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="fname" class="form-label">First Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name" required formControlName="fname" [ngClass]="{ 'is-invalid': submitted && f['fname'].errors }" autocomplete="off">
                <div *ngIf="submitted && f['fname'].errors" class="invalid-feedback">
                  <div *ngIf="f['fname'].errors['required']">First Name is required</div>
                </div>
              </div>
              <div class="col-12">
                <label for="lname" class="form-label">Last Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name" required formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f['lname'].errors }" autocomplete="off">
                <div *ngIf="submitted && f['lname'].errors" class="invalid-feedback">
                  <div *ngIf="f['lname'].errors['required']">Last Name is required</div>
                </div>
              </div>
              <div class="col-12">
                <label for="email" class="form-label">E-Mail <span class="text-danger">*</span></label>
                <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" autocomplete="off">
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                </div>
              </div>
              <div class="col-12">
                <label for="mobile" class="form-label">Mobile <span class="text-danger">*</span></label>
                <input type="number" class="form-control" name="mobile" id="mobile" placeholder="10 Digit Mobile Number" required formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f['mobile'].errors }" autocomplete="off" min="6111111111" max="9999999999" maxlength="10">
                 <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
                  <div *ngIf="f['mobile'].errors['required']">Mobile is Required</div>
                  <div *ngIf="f['mobile'].errors['minLength']">invalid Mobile Number</div>
                  <div *ngIf="f['mobile'].errors['maxLength']">invalid Mobile Number</div>
                  <div *ngIf="f['mobile'].errors['min']">Invalid Mobile Number</div>
                  <div *ngIf="f['mobile'].errors['max']">Invalid Mobile Number</div>
                </div>
              </div>

              <div class="col-12">
                <label for="job" class="form-label">Job Title <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="job" id="job" placeholder="Job Title" required formControlName="job" [ngClass]="{ 'is-invalid': submitted && f['job'].errors }" autocomplete="off">
                <div *ngIf="submitted && f['job'].errors" class="invalid-feedback">
                  <div *ngIf="f['job'].errors['required']">Job Title is required</div>
                </div>
              </div>

              <div class="col-12">
                <label for="company" class="form-label">Organisation <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="company" id="company" placeholder="Job Title" required formControlName="company" [ngClass]="{ 'is-invalid': submitted && f['company'].errors }" autocomplete="off">
                <div *ngIf="submitted && f['company'].errors" class="invalid-feedback">
                  <div *ngIf="f['company'].errors['required']">Organisation is required</div>
                </div>
              </div>

              <div class="col-12">
                <label for="howdid" class="form-label">How did you know about this webinar? <span class="text-danger">*</span></label><br>
                <label for="howdidone"><input type="radio" id="howdidone" name="howdid" value="Sarvam Safety Executive" formControlName="howdid"> Sarvam Safety Executive</label><br>
                <label for="howdidtwo"><input type="radio" id="howdidtwo" name="howdid" value="Direct E-Mail" formControlName="howdid"> Direct E-Mail</label><br>
                <label for="howdidthree"><input type="radio" id="howdidthree" name="howdid" value="Whatsapp" formControlName="howdid"> Whatsapp</label><br>
                <label for="howdidfour"><input type="radio" id="howdidfour" name="howdid" value="Facebook" formControlName="howdid"> Facebook</label><br>
                <label for="howdidfive"><input type="radio" id="howdidfive" name="howdid" value="Linkedin" formControlName="howdid"> Linkedin</label><br>
                <label for="howdidsix"><input type="radio" id="howdidsix" name="howdid" value="Instagram" formControlName="howdid"> Instagram</label><br>
                <label for="howdidseven"><input type="radio" id="howdidseven" name="howdid" value="Counter Sales" formControlName="howdid"> Counter Sales</label><br>          
                    
              </div>

              <div class="col-12">
                <label for="expected" class="form-label">What you expect from the session? <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="expected" id="expected" placeholder="What you expect from the session?" required formControlName="expected" [ngClass]="{ 'is-invalid': submitted && f['expected'].errors }" autocomplete="off">
                <div *ngIf="submitted && f['expected'].errors" class="invalid-feedback">
                  <div *ngIf="f['expected'].errors['required']">Expectation is required</div>
                </div>
              </div>
              
              <!-- <div class="col-12">
                <re-captcha (resolved)="resolved($event)" siteKey="6LfKXLwpAAAAAE_aRYOijExPxs48sPyQWh-XCJ0_"></re-captcha>
              </div> -->
              

              <!-- <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" name="agree" id="agree" required formControlName="agree" [ngClass]="{ 'is-invalid': submitted && f['agree'].errors }">
                  <label class="form-check-label text-secondary" for="agree">
                    I agree to the <a href="#!" class="link-primary text-decoration-none">terms and conditions</a>
                  </label>
                  <div *ngIf="submitted && f['agree'].errors" class="invalid-feedback">Accept Terms is required</div>
                </div>
              </div>    -->

              <div class="col-12">
                <div class="d-grid">{{btnerr}}</div>
                <div class="d-grid">                  
                  <button class="anibutton btn1" type="submit">Register</button>
                </div>
              </div>

            </div>
          </form>          
         
        </div>
      </div>
    </div>
  </div>
</div>




</section>