.shopnow{
	padding: 60px 20px 60px 20px;
	background-color: #fff;
	/*height: 600px;*/
	display: block;

}

.fltrtxt{
	font-size: 20px;
	color: #000;
	border-bottom: 1px solid #c8c8c8;
}
.lp2{
	/*padding-left: 155px;*/
	color: #00aaff;
}


/*============================================
# range slider
===============================================*/
::placeholder {
  color: lightgray;
  opacity: 1; /* Firefox */
  font-weight: normal;
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: lightgray;
  font-weight: normal;
}

.formore{
	color: var(--theme);
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 20px;
}
.pricerange .ngx-slider .ngx-slider-selection {
  background: var(--theme) !important;
}

.pricerange .ngx-slider .ngx-slider-pointer-min {
  background: #fff !important;
  width: 16px;
  height: 16px;
  border-radius: 0px;
  border: 3px solid var(--theme);
  outline: none;
  margin-top: 8px;
}

  .pricerange .ngx-slider .ngx-slider-pointer-min:after {
    display: none;
  }

.pricerange .ngx-slider .ngx-slider-pointer-max {
  background: #fff !important;
  width: 16px;
  height: 16px;
  border-radius: 0px;
  border: 3px solid var(--theme);
  outline: none;
  margin-top: 8px;
}

  .pricerange .ngx-slider .ngx-slider-pointer-max:after {
    display: none;
  }

.pricerange .ngx-slider .ngx-slider-bubble {
  /*display: none;*/
  font-size: 11px;
  padding-left: 10px;
}

  .pricerange .ngx-slider .ngx-slider-bubble:before {
    content: '\F7EC';
    font-family: bootstrap-icons;
    position: absolute;
    margin-left: -10px;
  }


/*============================================
# page spcific 
+++++++++++++++++++++++++++++++++++++++++++*/

.leftpanel{
	padding-right: 10px;
	
	border-right:1px solid #c8c8c8;
	box-sizing: border-box;
}

.mainpanel{
	padding-left: 10px;
	
	box-sizing: border-box;
}

.filterbar{
	margin-bottom: 30px;
	height: 40px;
	/*border-bottom: 1px solid #c8c8c8;*/

}

.filterbar select, select:focus, select:active{
	outline: none;
	outline-offset: none;
}

.filterbar .pagestat span{
	font-size: 12px;
	color: #848484 !important;
}

.filterbar .gridbtn button{
	font-size: 24px;
	color: #000;
	float: right;
	margin-right: 20px;
	transition: .3s;

}

.filterbar .gridbtn button:hover{
	font-size: 24px;
	color: var(--theme);
	float: right;
	margin-right: 20px;
}

.leftpanel h4{
	font-size: 16px;
	font-weight: bold;
	color: #000;
	border-bottom: 1px solid #c8c8c8;
	padding-bottom: 10px;
	font-family: 'Poppins';
}

.leftpanel .sidehead .redunderline{
	width: 100px;
	height: 3px;
	background-color: var(--theme);
	position: absolute;
	margin-top: -11px;
	/*left: 0px;*/
}

.leftpanel ul{
	list-style: none;

}

.leftpanel ul li{
	margin-left: -30px;
	margin-top: 15px;
	transition: .3s;
	font-family: 'Poppins';
	font-size: 14px;

}

.leftpanel .catlist ul li a{	
	color: var(--theme);
	font-style: normal;
	font-weight: normal;
}

.leftpanel .catlist ul li:hover{
	margin-left: -10px;
	margin-top: 15px;
	color: var(--theme);
	font-style: normal;
	font-weight: normal;
}

.shoppager{
	text-align: center;
}

.shoppager button{
	border-radius: 0px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: var(--theme);
}


/*=========================================*/
.leftpanel input[type='checkbox']{
	width: 15px;
	height: 15px;
	background-color: transparent;
	line-height: 15px;
}

.chkbx {
	display: block;
	position: relative;
	padding-left: 20px;
	/*margin-bottom: 12px;*/
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	line-height: 17px;
}


.leftpanel .chkbx input[type='checkbox']{	
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;

}

.lbl{
	
	margin-top: -5px;
	font-size: 14px;
	color: #848484;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;  
  border-radius: 2px;
}



/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chkbx input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chkbx .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





.catban{
	width: 100%;
	max-height: 300px;
	margin-bottom: 30px;
	background-color: #FFCC00;
	text-align: right;
}

.prdban{
	max-width: 320px;
	height: auto;
	margin-top: 30px;
	margin-bottom: 50px;
	background-color: #FFCC00;
	border-radius: 5px;
	border:1px solid #f8f8f8;
	text-align: center;
}

/*===============================
#swap image 
===================================*/
.prdholdergrid{
	z-index: 1;
}
.prdholdergrid .prdholder{
	border-radius: 5px;
	border:2px solid #F2F2F2;
	height: 354px;
	padding: 0px 0px 0px 0px;
	position: relative;
	margin: 5px 5px 40px 5px;
	background-color: #fff;
}

.prdholdergrid .prdholder .imgholdr .thumbnail{
	/*width: 300px;*/
	height: 250px;
	text-align: center;
	vertical-align: middle;
	transition: .3s;
	z-index: 1;
	padding-top: 2px;
	background-color: #fff;
	overflow: hidden;
}

.prdholdergrid .prdholder .imgholdr .thumbnail img{
	max-width: 250px;
	max-height: 250px;
	transition: .6s;
	z-index: 2;

}

.prdholdergrid .prdholder .imgholdr .caption{
	background-color: #eeeeee;
	padding:5px 15px 15px 15px;
	height: 100px;
	z-index: 2;
	line-height: 20px;
	position: relative;
}

.prdholdergrid .prdholder .lablenew{
	position: absolute;
	margin-top: -8px;
	margin-left: 0px;
	z-index: 20;
}

.prdholdergrid .prdholder .lablesale{
	position: absolute;
	margin-top: -5px;
	margin-left: calc(100% - 66px);
	z-index: 15;
}

.prdholdergrid .prdholder .lablebest{
	position: absolute;
	margin-top: 210px;
	margin-left: 160px;
	z-index: 20;
}

.prdholdergrid .prdholder .imgholdr .caption h6{
	font-weight: bold;
	line-height: 18px;
	font-size: 14px;
	color: #111111;
	margin: 5px 0 5px 0;
}



ngb-rating{
	font-size: 16px;
	color: #000;

}
.prdholder .imgholdr .caption .price .old{
	text-decoration: line-through;
	color: #000;
	font-size: 14px;
	/*margin-right: 20px;*/
	font-family: 'Arial';
	text-align: left;
	/*margin-right: 15px;*/
}

.prdholder .imgholdr .caption .scndline{
	padding-top: 10px;
}

.prdholder .imgholdr .caption .price .normal{	
	margin-right: 15px;
	color: #000;
	font-size: 15px;
	font-family: 'Arial';
	text-align: left;
}

.prdholder .imgholdr .caption .price .new{	
	color: #000;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Arial';
	text-align: left;
}

.prodoverlay{
    position: absolute;
    width: 0;
    height: 200px;
    background-color: transparent;
    right: 0px;
    top: 20px;
    z-index: 30;
    transition: .3s;
    overflow: hidden;
}

.prodoverlay .sociolink{
    z-index: 31;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--theme);
    color: #fff;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
    padding: 3px 5px 5px 7px;

}

.prodoverlay .sociolink:hover{
	background-color: #fff;
    color: var(--theme);
    border:1px solid var(--theme);
    cursor: pointer;
}

.prdholder:hover .prodoverlay{
    width: 80px;
    z-index: 32;
}


.image-wrapper {
  position: relative;
}

.image-wrapper .image{
  opacity: 1;
}

.image-hover {
  position: absolute;
  top: 0;
  left: 5%;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.prdholder:hover .image-hover {
  opacity: 1;
}

.prdholder:hover .image{
  opacity: 0;
}


.filterbar .gridbtn .viewslctd{
	color: var(--theme);
}

.filterbar .gridbtn .viewdslctd{
	color: #000;
}

/*===============================
#swap image 
===================================*/
.prdholderlist{
	border-radius: 5px;
	border:2px solid #F2F2F2;
	height: 250px;
	padding: 0px 0px 0px 0px;
	position: relative;
	margin: 5px 5px 50px 5px;
}

.prdholderlist .imgholdr .thumbnail{
	/*width: 250px;*/
	height: 245px;
	text-align: center;
	vertical-align: middle;
	transition: .3s;
	z-index: 1;
	/*padding-top: 15%;*/
	background-color: #fff;
	overflow: hidden;
}

.prdholderlist .imgholdr .thumbnail img{
	max-width: 250px;
	max-height: 240px;
	transition: .6s;
	z-index: 2;

}



.prdholderlist .imgholdr .thumbnail img{
	max-width: 250px;
	max-height: 240px;
	transition: .6s;
	z-index: 2;

}

.prdlistviw .caption{
	background-color: #fff;
	padding:15px 15px 15px 15px;
	height: 80px;
	z-index: 2;
	line-height: 20px;
	position: relative;
}



.prdholderlist .lablenew{
	position: absolute;
	margin-top: -8px;
	margin-left: 0px;
	z-index: 20;
}

.prdholderlist .lablesale{
	position: absolute;
	margin-top: -5px;
	margin-left: calc(100% - 66px);
	z-index: 15;
}

.prdholderlist .lablebest{
	position: absolute;
	margin-top: 210px;
	margin-left: 160px;
	z-index: 20;
}

.prdlistviw .caption h6{
	font-weight: bold;
	font-family: 'Arial';
	font-size: 18px;
	color: #111111;
	margin: 5px 0 5px 0;
}



ngb-rating{
	font-size: 16px;
	color: #000;

}
.prdlistviw .caption .price .old{
	text-decoration: line-through;
	color: #000;
	font-size: 14px;
	/*margin-right: 20px;*/
	font-family: 'Arial';
}

.prdlistviw .caption .price .normal{	
	margin-right: 20px;
	font-family: 'Arial';
}

.prdlistviw .caption .price .new{	
	color: #000;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Arial';
}

.prodoverlay{
    position: absolute;
    width: 0;
    height: 200px;
    background-color: transparent;
    right: 0px;
    top: 20px;
    z-index: 30;
    transition: .3s;
    overflow: hidden;
}

.prodoverlay .sociolink{
    z-index: 31;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--theme);
    color: #fff;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
    padding: 3px 5px 5px 7px;

}

.prodoverlay .sociolink:hover{
	background-color: #fff;
    color: var(--theme);
    border:1px solid var(--theme);
    cursor: pointer;
}

.prdlistviw:hover .prodoverlay{
    width: 80px;
}

.prdlistviw:hover .image-hover {
  opacity: 1;
}

.prdlistviw:hover .image{
  opacity: 0;
}




/*===================================================

=======================================================*/




@media screen and (max-width: 575px){

	.filterbar{
		height: 200px;
	}

	.mbpageonly{
		display: block; 
	}

	.flpageonly{display: none;}

	.mbpageonly .fbtn {
		margin-right: auto; 
		margin-left: auto; 
		color: var(--theme); 
		text-align: center; 
		text-decoration: none;
	}

	.shopnow{
		padding: 10px 20px 60px 20px;
		background-color: #fff;
		/*height: 600px;*/
		display: block;

	}

	.details-panel {
	    width: 250px !important;    
	    border-left: 4px solid var(--theme);
	}

	.fltrtxt{
		font-size: 20px;
		color: #000;
		border-bottom: 1px solid #c8c8c8;
	}
	.lp2{
		padding-left: 0px;
		color: #00aaff;
		/*text-align: right;*/
	}

	.leftpanel h4{
		font-size: 16px;
		font-weight: bold;
		color: #000;
		border-bottom: 3px solid var(--theme);
		padding-bottom: 10px;
		font-family: 'Poppins';
	}


	/*.leftpanel .redunderline{*/
		/*display: none;*/
		
	/*}*/
	

}

@media screen and (max-width: 1199px){
	.gridbtn{
		display: none;
	}
}

@media screen and (min-width: 576px){
	.mbpageonly{display: none;}
	.flpageonly{display: block;}
}
