

.equipment{
	/*margin: 20px 10px 20px 0px;*/
	width: 100%;
	height: 100%;
	background: #fff;	
	border-radius: 10px;
	border-style: none;	
	position: relative;	
	z-index: 1;
	overflow: hidden;
  margin-bottom: 40px;
  font-family: 'Poppins';
}

.equipment img{
	width: 100%;
	height: 100%;	
	border-radius: 10px;
}




.equipOverlay h6{
	color: var(--theme);
	font-size: 18px;	
	z-index: 11;
	line-height: 30px;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 6px;
}

.equipOverlay span{
  color: #000;
  font-size: 26px;  
  z-index: 11;
  line-height: 30px;
  font-weight: bold;
}

.equipOverlay {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  bottom: 20px;
  color: #fff;
  right: -25px;
  background-color: #fff;
  overflow: hidden;
  width: 0;
  height: 100px;
  transition: .5s ease;
  z-index: 2;
  padding: 10px 5px 10px 10px;
  border:1px solid var(--theme);
}


/*.sliderman:hover .overlay {
  height: 100%;
}*/

.equipment:hover .equipOverlay {
  width: 300px;
  height: 100px;
}

.equipment .equipOverlay span:hover{
  color: var(--theme);
}



@media screen and (max-width: 576px) {
 
}


@media screen and ((min-width: 577px) and (max-width: 719px)){

}


@media screen and ((min-width: 720px) and (max-width: 1199px)){

}

@media screen and ((min-width: 1200px) and (max-width: 1399px)){

}

@media screen and (min-width: 1400px){

}